@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;

}

#books {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  margin-top: 90px;
  margin-bottom: 40px;
  gap: 50px;
  justify-content: center;
}

.book {
  z-index: 3;
  display: flex;
  flex-direction: column;
  background-color: #ede9f2;
  padding: 5px;
  height: 310px;
  width: 310px;
  margin-bottom: -10px;
  margin-top: 10px;
  border: 3px solid black;
  border-radius: 10px;
}

.image {
  width: 135px;
  text-align: center;
  justify-items: center;
  margin-top: 10px;
  height: 180px;
  border-radius: 10px;
}

.title {
  color: black;
  font-style: italic;
  font-size: 16px;
  text-align: center;
}

body {
  background-color: black;
  background-image: url("https://images.unsplash.com/photo-1589998059171-988d887df646?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxhbGx8fHx8fHx8fHwxNjE5MTc2Nzc1&ixlib=rb-1.2.1&q=80&w=1080&utm_source=unsplash_source&utm_medium=referral&utm_campaign=api-credit");
  background-attachment: fixed;
  background-size: 100% 900px;
  background-position: center;
  background-repeat: no-repeat;
}

.author {
  color: black;
  font-weight: bold;
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
  background-color: #ede9f2;
}

.image:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.wrap {
  display: flex;
  justify-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #F9F4DB;
}

#favorite {
  z-index: 2;
  font-variation-settings:
          'FILL' 0,
          'wght' 600,
          'GRAD' 0,
          'opsz' 48;
  cursor: pointer;
  position: absolute;
  margin-top: 5px;
  margin-left: 5px;
}

#favorite:hover {
  font-variation-settings:
          'FILL' 1,
          'wght' 600,
          'GRAD' 0,
          'opsz' 48;
  color: crimson;
}

#favorite:active {
  font-variation-settings:
          'FILL' 1,
          'wght' 600,
          'GRAD' 0,
          'opsz' 48;
  color: crimson;
  transform: scale(1.2);
}

#info {
  cursor: pointer;
  position: absolute;
  margin-left: 5px;
  margin-top: 33px;
}

#info:active {
  transform: scale(1.2);
}

.buy {
  background-color: #ede024;
  color: #3c16b8;
  font-weight: bold;
  width: 100px;
  height: 30px;
  font-size: 15px;
  margin: 20px auto 3px;
  padding: 3px;
  border-radius: 20px;
  cursor: pointer;
}

.buy:hover {
  opacity: 0.9;
}

.buy:active {
  opacity: 0.7;
}
